<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    body{
      border: 1px solid black;
      height: 500px;
    }
    .header{
      background-color: cornflowerblue;
    }
    span{
      color: white;
    }
  </style>
  
</head>
<body>
  <div class="header">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th style="width: 10%;">INVOICE</th>
          <th style="width: 10%;">VKA222</th>
          <th style="width: 10%;">12 SEP 2020</th>
        </tr>
      </thead>
    </table>
  </div>
</body>
</html>